<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net47" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net47" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net47" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net47" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net47" />
  <package id="Process.NET" version="1.0.8" targetFramework="net47" />
  <package id="Selenium.WebDriver.Server" version="3.0.1.1" targetFramework="net47" />
  <package id="Selenium.Chrome.WebDriver" version="2.37" targetFramework="net47" />
  <package id="Selenium.Microsoft.Webdriver2" version="2.0.10586.1" targetFramework="net47" />
</packages>