<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Another.Unofficial.Xilium.CefGlue" version="0.2.2" targetFramework="net47" />
  <package id="Another.Unofficial.Xilium.CefGlue.WindowsForms" version="0.2.2" targetFramework="net47" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net47" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net47" />
  <package id="CefSharp.Common" version="75.1.141" targetFramework="net47" />
  <package id="CefSharp.WinForms" version="75.1.141" targetFramework="net47" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net47" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net47" />
  <package id="MetroSet_UI" version="1.0.4" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.3-beta1" targetFramework="net47" />
</packages>


packages.config

package.json
